<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Clientapp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="clients.length == 0"> 
    Sin clientes
  </ion-item>

  <ion-card *ngFor="let client of clients; let i = index">
    <ion-card-content (click)="action(client, i)">
        <ion-card-header>
          Cliente: {{client.name}} 
        </ion-card-header>
        <ion-card-header>
          Empresa: {{client.enterprise}} 
        </ion-card-header>
    </ion-card-content>
  </ion-card>
    
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="getModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
